In [1]:
from pyspark.sql import SparkSession, functions as f
from pyspark.sql.window import Window

In [13]:
spark = SparkSession.builder.master('local[*]').appName('HTF_Vol').getOrCreate()
spark.conf.set("spark.executor.memory", "2g")

df = spark.read.csv('newaa.csv', header=True)

In [14]:
df.show()

+------+--------+-------+-----+-----+
|SYMBOL|    DATE|   TIME|PRICE| SIZE|
+------+--------+-------+-----+-----+
|     A|20021202|9:30:20|19.75|30200|
|     A|20021202|9:30:22|19.75|  100|
|     A|20021202|9:30:22|19.75|  300|
|     A|20021202|9:30:22|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75| 1100|
|     A|20021202|9:30:23|19.75| 1000|
|     A|20021202|9:30:23|19.75|  400|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75|  200|
|     A|20021202|9:30:23|19.75|  100|
|     A|20021202|9:30:23|19.75| 1000|
|     A|20021202|9:30:23|19.75| 3000|
|     A|20021202|9:30:23|19.75|  100|
+------+--------+-------+-----+-----+
only showing top 20 rows

In [15]:
w = Window().partitionBy(df['SYMBOL']).orderBy(df['PRICE'])

In [17]:
df = df.select('*', f.lead('PRICE').over(w).alias('PRICE_1'))

In [18]:
df = df.select('*', f.log(df.PRICE_1/df.PRICE).alias('LOG_RETURN'))

In [20]:
pd_df = df.toPandas()

In [24]:
pd_df.loc[:, 'Volatility'] = pd_df.loc[:, 'LOG_RETURN'].rolling(window=100).std()

In [29]:
pd_df.head(1000)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SYMBOL</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>PRICE</th>
      <th>SIZE</th>
      <th>PRICE_1</th>
      <th>LOG_RETURN</th>
      <th>Volatility</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:42:05</td>
      <td>18.4</td>
      <td>300</td>
      <td>18.45</td>
      <td>0.002714</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:01:36</td>
      <td>18.45</td>
      <td>5900</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:02:05</td>
      <td>18.45</td>
      <td>600</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:02:27</td>
      <td>18.45</td>
      <td>400</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:04:37</td>
      <td>18.45</td>
      <td>400</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:04:42</td>
      <td>18.45</td>
      <td>100</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:07:34</td>
      <td>18.45</td>
      <td>600</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:07:53</td>
      <td>18.45</td>
      <td>200</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:22:02</td>
      <td>18.45</td>
      <td>300</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:22:06</td>
      <td>18.45</td>
      <td>700</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:47:03</td>
      <td>18.45</td>
      <td>4900</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:47:15</td>
      <td>18.45</td>
      <td>300</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:47:37</td>
      <td>18.45</td>
      <td>200</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:47:50</td>
      <td>18.45</td>
      <td>300</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:47:55</td>
      <td>18.45</td>
      <td>200</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:48:03</td>
      <td>18.45</td>
      <td>300</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:48:10</td>
      <td>18.45</td>
      <td>100</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:51:04</td>
      <td>18.45</td>
      <td>500</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:51:49</td>
      <td>18.45</td>
      <td>900</td>
      <td>18.45</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>AA</td>
      <td>20030312</td>
      <td>13:41:05</td>
      <td>18.45</td>
      <td>200</td>
      <td>18.46</td>
      <td>0.000542</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>AA</td>
      <td>20030312</td>
      <td>11:27:47</td>
      <td>18.46</td>
      <td>200</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>AA</td>
      <td>20030312</td>
      <td>11:27:53</td>
      <td>18.46</td>
      <td>100</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>AA</td>
      <td>20030312</td>
      <td>11:27:53</td>
      <td>18.46</td>
      <td>1100</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>AA</td>
      <td>20030312</td>
      <td>11:28:14</td>
      <td>18.46</td>
      <td>100</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:01:29</td>
      <td>18.46</td>
      <td>4000</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:04:55</td>
      <td>18.46</td>
      <td>300</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:07:29</td>
      <td>18.46</td>
      <td>800</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:07:30</td>
      <td>18.46</td>
      <td>100</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:09:56</td>
      <td>18.46</td>
      <td>100</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>AA</td>
      <td>20030312</td>
      <td>12:16:54</td>
      <td>18.46</td>
      <td>500</td>
      <td>18.46</td>
      <td>0.000000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>970</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:02:08</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>971</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:02:13</td>
      <td>18.54</td>
      <td>200</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>972</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:02:58</td>
      <td>18.54</td>
      <td>300</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>973</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:03:01</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>974</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:03:16</td>
      <td>18.54</td>
      <td>200</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>975</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:03:17</td>
      <td>18.54</td>
      <td>1000</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>976</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:03:31</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>977</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:05:19</td>
      <td>18.54</td>
      <td>900</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>978</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:05:37</td>
      <td>18.54</td>
      <td>2000</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>979</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:06:11</td>
      <td>18.54</td>
      <td>900</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>980</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:06:18</td>
      <td>18.54</td>
      <td>1400</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>981</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:06:43</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>982</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:06:51</td>
      <td>18.54</td>
      <td>2500</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>983</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:06:58</td>
      <td>18.54</td>
      <td>1000</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>984</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:07:10</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>985</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:07:12</td>
      <td>18.54</td>
      <td>1200</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>986</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:07:17</td>
      <td>18.54</td>
      <td>5900</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>987</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:07:20</td>
      <td>18.54</td>
      <td>1300</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>988</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:07:25</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>989</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:08:36</td>
      <td>18.54</td>
      <td>1100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>990</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:08:44</td>
      <td>18.54</td>
      <td>200</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>991</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:09:04</td>
      <td>18.54</td>
      <td>900</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>992</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:09:32</td>
      <td>18.54</td>
      <td>300</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>993</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:09:36</td>
      <td>18.54</td>
      <td>200</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>994</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:09:47</td>
      <td>18.54</td>
      <td>300</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>995</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:16:41</td>
      <td>18.54</td>
      <td>3900</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>996</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:38:45</td>
      <td>18.54</td>
      <td>400</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>997</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:41:03</td>
      <td>18.54</td>
      <td>400</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>998</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:53:01</td>
      <td>18.54</td>
      <td>1000</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>999</th>
      <td>AA</td>
      <td>20030312</td>
      <td>10:53:24</td>
      <td>18.54</td>
      <td>100</td>
      <td>18.54</td>
      <td>0.000000</td>
      <td>0.000038</td>
    </tr>
  </tbody>
</table>
<p>1000 rows × 8 columns</p>
</div>