In [5]:
import pandas as pd
reader = pd.read_csv('ctauto.csv', iterator=True)
try:
    df = reader.get_chunk(100000000)
except StopIteration:
    print("Iteration is stopped.")

In [6]:
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print("Iteration is stopped.")
df = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [7]:
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SYMBOL</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>PRICE</th>
      <th>SIZE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:38:36</td>
      <td>10.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:38:44</td>
      <td>10.91</td>
      <td>100</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:38:55</td>
      <td>10.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:39:09</td>
      <td>10.90</td>
      <td>400</td>
    </tr>
    <tr>
      <th>4</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:40:10</td>
      <td>10.90</td>
      <td>5000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:40:18</td>
      <td>10.90</td>
      <td>800</td>
    </tr>
    <tr>
      <th>6</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:40:40</td>
      <td>10.90</td>
      <td>200</td>
    </tr>
    <tr>
      <th>7</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:40:59</td>
      <td>10.92</td>
      <td>100</td>
    </tr>
    <tr>
      <th>8</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:41:22</td>
      <td>10.90</td>
      <td>800</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:41:42</td>
      <td>10.90</td>
      <td>300</td>
    </tr>
    <tr>
      <th>10</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:24</td>
      <td>10.91</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>11</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:27</td>
      <td>10.91</td>
      <td>200</td>
    </tr>
    <tr>
      <th>12</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:32</td>
      <td>10.92</td>
      <td>300</td>
    </tr>
    <tr>
      <th>13</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:39</td>
      <td>10.91</td>
      <td>300</td>
    </tr>
    <tr>
      <th>14</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:41</td>
      <td>10.91</td>
      <td>100</td>
    </tr>
    <tr>
      <th>15</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:42:52</td>
      <td>10.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>16</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:44:01</td>
      <td>10.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>17</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:44:41</td>
      <td>10.91</td>
      <td>300</td>
    </tr>
    <tr>
      <th>18</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:45:20</td>
      <td>10.91</td>
      <td>300</td>
    </tr>
    <tr>
      <th>19</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:45:21</td>
      <td>10.91</td>
      <td>600</td>
    </tr>
    <tr>
      <th>20</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:45:26</td>
      <td>10.92</td>
      <td>300</td>
    </tr>
    <tr>
      <th>21</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:45:32</td>
      <td>10.92</td>
      <td>100</td>
    </tr>
    <tr>
      <th>22</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:45:56</td>
      <td>10.92</td>
      <td>200</td>
    </tr>
    <tr>
      <th>23</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:46:03</td>
      <td>10.92</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:46:22</td>
      <td>10.92</td>
      <td>900</td>
    </tr>
    <tr>
      <th>25</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:46:28</td>
      <td>10.92</td>
      <td>3400</td>
    </tr>
    <tr>
      <th>26</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:46:32</td>
      <td>10.92</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:47:13</td>
      <td>10.91</td>
      <td>200</td>
    </tr>
    <tr>
      <th>28</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:47:15</td>
      <td>10.92</td>
      <td>900</td>
    </tr>
    <tr>
      <th>29</th>
      <td>GLG</td>
      <td>20030417</td>
      <td>15:48:37</td>
      <td>10.92</td>
      <td>500</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>147547641</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:45:11</td>
      <td>4.91</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>147547642</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:45:16</td>
      <td>4.91</td>
      <td>1700</td>
    </tr>
    <tr>
      <th>147547643</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:45:18</td>
      <td>4.90</td>
      <td>1700</td>
    </tr>
    <tr>
      <th>147547644</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:45:45</td>
      <td>4.91</td>
      <td>300</td>
    </tr>
    <tr>
      <th>147547645</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:45:55</td>
      <td>4.90</td>
      <td>2700</td>
    </tr>
    <tr>
      <th>147547646</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:46:45</td>
      <td>4.92</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>147547647</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:48:20</td>
      <td>4.94</td>
      <td>700</td>
    </tr>
    <tr>
      <th>147547648</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:48:41</td>
      <td>4.91</td>
      <td>2100</td>
    </tr>
    <tr>
      <th>147547649</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:49:11</td>
      <td>4.91</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>147547650</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:52:53</td>
      <td>4.94</td>
      <td>10600</td>
    </tr>
    <tr>
      <th>147547651</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:53:43</td>
      <td>4.92</td>
      <td>300</td>
    </tr>
    <tr>
      <th>147547652</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:53:52</td>
      <td>4.91</td>
      <td>100</td>
    </tr>
    <tr>
      <th>147547653</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:54:06</td>
      <td>4.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>147547654</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:54:21</td>
      <td>4.93</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>147547655</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:54:26</td>
      <td>4.94</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>147547656</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:55:01</td>
      <td>4.91</td>
      <td>500</td>
    </tr>
    <tr>
      <th>147547657</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:55:21</td>
      <td>4.94</td>
      <td>400</td>
    </tr>
    <tr>
      <th>147547658</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:56:56</td>
      <td>4.94</td>
      <td>800</td>
    </tr>
    <tr>
      <th>147547659</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:57:17</td>
      <td>4.92</td>
      <td>500</td>
    </tr>
    <tr>
      <th>147547660</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:57:23</td>
      <td>4.94</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>147547661</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:57:35</td>
      <td>4.94</td>
      <td>1900</td>
    </tr>
    <tr>
      <th>147547662</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:57:49</td>
      <td>4.94</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>147547663</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:58:29</td>
      <td>4.94</td>
      <td>3000</td>
    </tr>
    <tr>
      <th>147547664</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:58:30</td>
      <td>4.94</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>147547665</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:58:50</td>
      <td>4.94</td>
      <td>8900</td>
    </tr>
    <tr>
      <th>147547666</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:59:11</td>
      <td>4.93</td>
      <td>200</td>
    </tr>
    <tr>
      <th>147547667</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:59:14</td>
      <td>4.93</td>
      <td>2900</td>
    </tr>
    <tr>
      <th>147547668</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:59:20</td>
      <td>4.92</td>
      <td>1300</td>
    </tr>
    <tr>
      <th>147547669</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:59:48</td>
      <td>4.91</td>
      <td>10900</td>
    </tr>
    <tr>
      <th>147547670</th>
      <td>ZTR</td>
      <td>20030731</td>
      <td>15:59:54</td>
      <td>4.91</td>
      <td>1400</td>
    </tr>
  </tbody>
</table>
<p>147547671 rows × 5 columns</p>
</div>